<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Hello EJS</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="jumbotron jumbotron-fluid jumdotron-custom mb-0">
            </div>
        <nav class="navbar navbar-dark navbar-expand-sm navbar-custom sticky-top">
            <div class="container">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="/index">Hem</a>
                    <a class="nav-item nav-link ml-auto" href="/create-recipe">Skapa Recept</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#">Konto</a>
                </div>
            </div>
         </nav>
        </div>
        <div class="container mb-4">
                <img class="img-thumbnail custom-image mx-auto d-block mt-4 mb-4" src=<%= recipe.image %>>
            <div class="row background-recipe pb-4">
            <div class="col-4">
            <h1> <%= recipe.recipeName %></h1>
            <form>
                <label>Portioner
                    <input class="servings" type="number" value=<%= recipe.servings %>>
                </label>
            </form>
            <div class="recipe-list">
                <ul>
                    <% for(let ingredient of recipe.ingredients) { %>
                        <li><span class="amount"><%= ingredient.amount %></span><%= ingredient.unit %> <%= ingredient.ingredient %></li>
                    <% } %>
                </ul>
            </div>
            <div class="recipe-nutritions background-recipe-nutrients container">
                <p>Näringsvärde per 100g</p>
                <p> energi: <%= recipe.nutrients.kcal %> kcal</p>
                <p> kolhydrater: <%= recipe.nutrients.kolhydrater %> g</p>
                <p> protein: <%= recipe.nutrients.protein %> g</p>
            </div>
        </div>
        <div class="col-8">
            <div class="recipe-description">
                <h2>Beskrivning</h2>
                <p>
                    <%= recipe.description %>
                </p>
            </div>
        </div>
        </div>
    </div>
    </header>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/js/index.js" charset="utf-8"></script>
    <script src="/js/recipe.js" charset="utf-8"></script>
</body>
</html>